[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
selenium = "*"
"bs4" = "*"
"html5lib" = "*"
flask-apscheduler = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.6"
