{% extends "base/layout.html" %}
{% block styles %}
{{super()}}
<link href="https://cdn.bootcss.com/octicons/4.4.0/font/octicons.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/jqgrid/ui.jqgrid-bootstrap4.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/datetimepicker/bootstrap-datetimepicker.min.css')}}">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block content %}
<style>
.mark {
    padding: 0px;
    background: white;
}
.form-control{
    display:inline;
}
.btn btn-light{
    font-size: 5px;
}
.btn-group{
    text-align:center;
    padding-left: 60px;
}
</style>
<h4>数据分析</h4>
<HR>
<form>

<div class="row offset-md-1">
    <div class = "col-sm-5" id="content">

            <label class = "mark col-sm-2">类型:</label>
            <label class="col-sm-2 radio-inline" style="padding-left: 10px"><input type="radio" name="optradio"
                                                                          value="economy">经济舱</label>
            <label class="col-sm-2 radio-inline" style="padding-left: 10px"><input type="radio"  name="optradio"
                                                                          value="member">会员价</label>
        <label class="col-sm-=2 radio-inline" style="padding-left: 10px"><input type="radio"  name="optradio"
                                                                          value="luxury">头等舱</label>

    </div>
    <div class = " col-sm-3">
    <label class = " mark col-sm-3">航班日期:</label>
    <input class = "form-control col-sm-6" name="flightDate"  placeholder="请选择航班日期" id="blrz-entry-date-start" type="text" >
    </div>

    <div class = " col-sm-4">
        <label class = "mark col-sm-1" >航段:</label>
        <select class="form-control col-sm-4" placeholder  = "请选择航段" id="segment">
        </select>

            <button type="button" style="float:right" class="btn btn-success" onclick = "generatebtn()">筛选</button>

    </div>


</div>

</form>

<HR>
<div class="row offset-md-2">
<button type="button" class="btn btn-light" style="float:left" onclick="lastWeek()"><i class ="fa fa-angle-left"> 前一周</i></button>

<div class="btn-group col-sm-8"  id = "flight-date">

  </div>

<button type="button" class="btn btn-light"style="float:right" onclick="nextWeek()">后一周 <i class ="fa fa-angle-right"></i></button>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table id="flightData"></table>
        <div id="gridpager"></div>
    </div>
</div>


{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jqgird/grid.locale-cn.js')}}"></script>
<script src="{{url_for('static', filename='js/jqgird/jquery.jqGrid.min.js')}}"></script>
<script src="{{url_for('static', filename='js/datetimepicker/bootstrap-datetimepicker.min.js')}}"></script>
<script src="{{url_for('static', filename='js/datetimepicker/bootstrap-datetimepicker.zh-CN.js')}}"></script>
<script>
 $(document).ready(function () {
     $("#blrz-entry-date-start").datetimepicker({//选择年月日
         format: 'yyyy-mm-dd',
         language: 'zh-CN',
         weekStart: 1,
         todayBtn: 1,//显示‘今日’按钮
         autoclose: 1,
         startView: 2,
         minView: 2,  //Number, String. 默认值：0, 'hour'，日期时间选择器所能够提供的最精确的时间选择视图。

         forceParse: 0
     });

       $.ajax({
                url: "{{url_for('main.analysis_segments')}}",
                data: {

                },
                dataType: "json",
                type: "GET",
                success: function (res) {
                    if (res != null && res != "") { // 注册成功
                        var segmenthtml = "";
                      for (var i = 0;i<res.length;i++){
                          segmenthtml += "<option value='" + res[i].id + "'>"+res[i].dep_city+"-"+res[i].arv_city+"</option>";

                      }
                      $("#segment").append(segmenthtml);
                    }
                },
                fail: function (err) {
                    alert("error！");
                }

            });

 });

 function  generatebtn(){

     var flightdateStr = $("#blrz-entry-date-start").val();
     var flightdate = new Date(flightdateStr);
     $("#flight-date").empty();
     if(flightdateStr = null || flightdateStr==""){
          alert("请选择日期！");
          return;

     }
     flightdate.setDate(flightdate.getDate() - 4);
     if(flightdate!=null){
         var html = "";
         for(var i= 0;i<7;i++){
           var  newflightdate =  flightdate;
           newflightdate.setDate(flightdate.getDate() + 1);
           var newflightdateStr = transform(newflightdate);
           html +=
             "    <button type=\"button\" id= '"+i+"-btn"+"'onclick=\"showData(\'"+newflightdateStr+"\')\"  class=\"btn btn-primary\">"+newflightdateStr+"</button>\n" ;
         }
         $("#flight-date").append(html);


     }
 }

 function  lastWeek(){
     var buttonValue= document.getElementById('3-btn').innerHTML;
     var flightdate = new Date(buttonValue);
     $("#flight-date").empty();
     flightdate.setDate(flightdate.getDate() - 7);
      var html = "";
         for(var i= 0;i<7;i++){
           var  newflightdate =  flightdate;
           newflightdate.setDate(flightdate.getDate() + 1);
           var newflightdateStr = transform(newflightdate);
           html +=
            "    <button type=\"button\" id= '"+i+"-btn"+"'   class=\"btn btn-primary\">"+newflightdateStr+"</button>\n" ;
         }
         $("#flight-date").append(html);

 }

 function  nextWeek(){
     var buttonValue= document.getElementById('3-btn').innerHTML;
     var flightdate = new Date(buttonValue);
     $("#flight-date").empty();
     flightdate.setDate(flightdate.getDate() - 1);
      var html = "";
         for(var i= 0;i<7;i++){
           var  newflightdate =  flightdate;
           newflightdate.setDate(flightdate.getDate() + 1);
           var newflightdateStr = transform(newflightdate);
           html +=
            "    <button type=\"button\" id= '"+i+"-btn"+"'   class=\"btn btn-primary\">"+newflightdateStr+"</button>\n" ;
         }
         $("#flight-date").append(html);

 }

 function transform(date){
     var str = date.getFullYear() + '-'
    + (parseInt(date.getMonth()) + 1) + '-'
    + date.getDate();

     return str;
 }

function showData(flightdateStr){

     var segment_id = $("#segment").val();
     var flight_date = flightdateStr;
     var price_type = $("input[name='optradio']:checked").val();
    /* if (segment_id = null || segment_id==""){
         alert("请选择航段！");
     }
     if (flight_date = null || flight_date==""){
         alert("请选择航班日期！");
     }
     if (price_type = null || price_type==""){
         alert("请选择机票类型！");
     }*/


$("#flightData").jqGrid({
            styleUI: 'Bootstrap4',
            iconSet: "Octicons",
            responsive: true,
            shrinkToFit: true,
            autoScroll: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            height: "100%",
            //height: 300,
            autowidth: true,
            pager: '#gridpager',
            sortname: 'id',
            sortorder: "asc",
            viewrecords: true,
            caption: "数据分析比对",
            url: "{{url_for('main.analysis_overview_query')}}",
            postData : {segment_id : segment_id,flight_date : flight_date,price_type : price_type},
            datatype: "json",
            mtype: 'GET',
            colModel:
                [
                    {label: '序号', name: 'segment_id', index: 'segment_id', key: false, align: 'center', editable: false, search: false},
                    {label: '时刻分组', name: 'time_range', index: 'time_range', align: 'center', editable: true, search: true},
                     {label: '航段', name: 'segment', index: 'segment', align: 'center', editable: true, search: true},
                    {label: '祥鹏航班时刻 ', name: '8L_time', index: '8L_time', align: 'center', editable: true, search: true},
                    {label: '祥鹏航班号 ', name: 'flt_cnt', index: 'flt_cnt', align: 'center', editable: true, search: true},
                    {label: '祥鹏票价', name: '8L_price', index: '8L_price', align: 'center', editable: true, search: true},
                    {label: '市场最低票价', name: 'mkt_min', index: 'mkt_min', align: 'center', editable: true, search: true},
                    {label: '市场最高票价', name: 'mkt_max', index: 'mkt_max', align: 'center', editable: true, search: true},
                    {label: '竞争航班总数', name: 'arv_city', index: 'arv_city', align: 'center', editable: true, search: true},
                    {label: '祥鹏票价排名', name: '8L_flt', index: '8L_flt', align: 'center', editable: true, search: true}
                ],
            jsonReader: {
                root: "segments", // json中代表实际模型数据的入口
                records: "total", // json中代表数据行总数的数据
                page: "page", // json中代表当前页码的数据
                total: "pages", // json中代表页码总数的数据
                repeatitems: false
            }
        });
        $("#flightData").navGrid('#gridpager', {edit: false, add: true, del: false}, {}, {}, {}, {
            sopt: ['eq'],
            multipleSearch: true
        });



}


</script>
{% endblock %}